.btn{
    padding: 11px 16px;
    font-family: Arial;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.gray {
    background-color: #E1E1E1;
}
.black {
    background-color: #000;
    color: white;
}